.s-comp-title.s-comp-title--sybz.s-comp-title--sybz {
  border-color: var(--s-sybz-primary-border);
  border-right: 0;
  border-top-left-radius: var(--s-sybz-radius);
  border-bottom-left-radius: var(--s-sybz-radius);
  background: var(--s-sybz-fill);
  color: var(--s-sybz-text);
  box-shadow: none;
  font-family: var(--s-sybz-font-family);
  font-weight: 600;
  padding-left: var(--s-sybz-comp-title-padding-x);
  padding-right: var(--s-sybz-comp-title-padding-x);
}
