@import '../shared/card.scss';

.s-card.s-card--shijingshan.s-card--shijingshan {
  --s-card-border: var(--s-sjs-divider);
  --s-card-shadow: var(--s-sjs-shadow-soft);
  --s-card-header-bg: var(--s-sjs-card-bg);
  --s-theme-card-bg: var(--s-sjs-card-bg);
  --s-theme-card-radius: var(--s-sjs-radius-card);
  --s-theme-card-font-family: var(--s-sjs-font-family);
  --s-theme-card-divider: var(--s-sjs-divider);
  --s-theme-card-text: var(--s-sjs-text-regular);
  --s-theme-card-footer-bg: var(--s-sjs-card-bg);
  --s-theme-card-primary: var(--s-sjs-primary);
  --s-theme-card-primary-rgb: var(--s-sjs-primary-rgb);
  --s-theme-card-primary-hover: var(--s-sjs-primary-hover);

  @include s-themed-card;
}
