@import '../shared/title.scss';

.s-title.s-title--shijingshan.s-title--shijingshan {
  --s-title-theme-font-family: var(--s-sjs-font-family);
  --s-title-theme-text: var(--s-sjs-text);
  --s-title-theme-text-muted: var(--s-sjs-text-muted);
  --s-title-theme-primary: var(--s-sjs-primary);
  --s-title-theme-icon-background: var(--s-sjs-primary);
  --s-title-theme-icon-accent: var(--s-sjs-success);
  --s-title-theme-bar-background: var(--s-sjs-primary);
  --s-title-theme-sub-title-line-height: 1.5;
}
